const CONFIG = {
    discord_invite: "https://discord.gg/hW9UCgR",
    firebase: {
        apiKey: "",	 
        databaseURL: "https://xxx.firebaseio.com",
        projectId: "xxx",
        storageBucket: "xxx.appspot.com",
        }, 
    public: false,
    room_id: "one",
    room_name: "Small Pro Mode Room [24/7]",
    motd: "Welcome to the small Pro mode room",
    pool_from_database: false
};
